In [ ]:
# Things to do for project

# X - Create the SQL database
# O - Query/Pull data from from the Database
# O - Narrow down data in Pandas Dataframe (df is short for a pandas DataFrame)
    # O - Prepare the data for visualization
# O - Visualize the data in MatPlotLib

In [4]:
# To graph
import matplotlib.pyplot as plot
#import numpy as np
# Reads the SQL/ Manipulate/ Spreadsheet|Dataframe
import pandas as pd
#
# Connect to database, query it
import sqlite3

All imports, needed for this project, in alphabetical order.

Requesting data from the Fortnite TRN match traker API

In [6]:
r

<Response [200]> All is well!

In [7]:
import requests
url = "https://api.fortnitetracker.com/v1/profile/account/b7c3c6c66e08499eade89c43f31ea2be/matches"
headers = {'TRN-Api-Key':'07678e9b-0fe4-447b-907d-8d141073f496'}

r = requests.get(url, headers=headers)
datasnapshot = r.json()
conn = sqlite3.connect('duo_beta_db.db')
JumbData = pd.DataFrame.from_dict(datasnapshot)
JumbData.to_sql("Jumb player data", conn)

ValueError: Table 'Jumb player data' already exists.

In [37]:
import sqlite3
import pandas as pd

# this is the sqlite connection to your sql database
    # you are using sql to query the data from the database
    # and reading it with pandas
conn = sqlite3.connect('duo_beta_db.db')

#SQL QUERY
query = 'select * from "Jumb Player Data"'

#Python to pull the output of SQL Query into a pandas dataframe(saved as 'games')
games = pd.read_sql(query, conn)

In [ ]:
#########
### FRANCE - THe land of data
# sql database(SQLITE)/ (Postgres)/ #Oracle #etc  / MYSQL          #SPAIN-.CSVs
    # in charge of datasource                               # CHINA - Excel
            #  |
##############|V|#################
# Pandasa/Canada
# Pandas - The land of analysis(and spreadsheet)

# citizenry = pd.read_sql(query,conn)

In [9]:
len(df)

50

In [10]:
df

,index,dateCollected,id,kills,matches,playlist,score,top1,top10,top12,top25,top3,top5,top6,trnRating
0,0,2018-10-20T18:32:28.1830000,888171863,1,2,p9,358,0,0,0,0,0,0,1,1270.2
1,1,2018-10-20T18:32:28.1800000,888171862,4,2,p10,146,0,0,0,0,0,0,0,1193.2
2,2,2018-10-20T17:46:19.8430000,887988136,12,2,p2,494,0,1,0,1,0,0,0,1259.9
3,3,2018-10-20T17:36:12.3630000,887948653,11,8,p2,720,0,0,0,2,0,0,0,1144.9
4,4,2018-10-20T01:50:14.5900000,885504080,0,1,p9,32,0,0,0,0,0,0,0,1351.8
5,5,2018-10-20T01:24:33.6300000,885434996,10,3,p9,896,1,0,0,0,1,0,1,1449.4
6,6,2018-10-20T00:52:43.7470000,885347553,9,7,p9,1173,0,0,0,0,0,0,1,1245.3
7,7,2018-10-20T00:52:43.7170000,885347551,43,11,p10,2157,0,0,3,0,0,3,0,1193.5
8,8,2018-10-18T10:59:08.6030000,879857345,59,29,p2,3676,0,2,0,8,0,0,0,1197.5
9,9,2018-10-18T10:59:08.5870000,879857343,1,2,p10,134,0,0,0,0,0,0,0,1179.2
10,10,2018-10-18T10:59:08.5870000,879857344,12,6,p9,1324,0,0,0,0,1,0,3,1698.0
11,11,2018-10-16T22:38:31.2100000,875463942,21,14,p9,3099,1,0,0,0,2,0,4,1840.6
12,12,2018-10-16T22:38:31.2100000,875463943,2,2,p9,369,0,0,0,0,0,0,1,1183.8
13,13,2018-10-16T22:38:31.1970000,875463939,3,1,p10,90,0,0,0,0,0,0,0,1180.3
14,14,2018-10-16T22:38:31.1970000,875463941,10,2,p2,439,0,0,0,1,0,0,0,1166.7
15,15,2018-10-15T04:31:39.5070000,870002155,3,1,p2,369,0,1,0,1,0,0,0,1176.5
16,16,2018-10-15T04:31:39.5000000,870002154,2,2,p10,578,0,0,1,0,0,1,0,1171.3
17,17,2018-10-14T04:33:56.3270000,865758288,1,2,p10,203,0,0,0,0,0,0,0,1180.2
18,18,2018-10-14T02:42:36.6000000,865451944,3,1,p9,765,1,0,0,0,1,0,1,1891.4
19,19,2018-10-14T02:42:36.5770000,865451942,14,7,p10,1286,1,0,1,0,0,1,0,1181.2
20,20,2018-10-13T22:16:54.5170000,864624432,3,1,p9,535,0,0,0,0,0,0,1,1761.9
21,21,2018-10-13T21:58:48.5000000,864558004,12,2,p9,845,1,0,0,0,1,0,1,1745.6
22,22,2018-10-13T20:47:23.3000000,864278726,0,1,p10,158,0,0,0,0,0,0,0,1361.6
23,23,2018-10-13T20:24:13.3030000,864183135,2,2,p10,260,0,0,0,0,0,0,0,1459.0
24,24,2018-10-13T19:10:17.7770000,863876841,3,1,p10,271,0,0,1,0,0,0,0,1646.0
25,25,2018-10-13T18:50:35.2870000,863795341,5,1,p10,645,1,0,1,0,0,1,0,1629.1
26,26,2018-10-13T18:29:30.4600000,863710365,7,2,p9,1457,1,0,0,0,1,0,2,1548.4
27,27,2018-10-13T18:29:30.4570000,863710364,3,3,p10,357,0,0,0,0,0,0,0,1123.6
28,28,2018-10-13T18:29:30.4530000,863710363,34,10,p10,2024,0,0,5,0,0,2,0,1488.6
29,29,2018-10-12T22:49:06.3600000,860398936,13,5,p9,1245,0,0,0,0,0,0,2,1386.5
30,30,2018-10-12T22:49:06.3500000,860398935,9,2,p10,756,0,0,2,0,0,1,0,1204.4
31,31,2018-10-12T20:33:09.0330000,859941582,0,1,p10,26,0,0,0,0,0,0,0,1097.8
32,32,2018-10-12T20:17:53.9200000,859885394,3,1,p10,171,0,0,0,0,0,0,0,1100.5
33,33,2018-10-12T20:14:17.2530000,859872655,0,2,p10,49,0,0,0,0,0,0,0,1099.7
34,34,2018-10-12T20:04:11.8570000,859836072,5,4,p2,480,0,0,0,0,0,0,0,1128.1
35,35,2018-10-12T20:04:11.8500000,859836071,5,3,p10,698,0,0,1,0,0,0,0,1105.0
36,36,2018-10-12T19:31:38.3770000,859718279,2,1,p2,91,0,0,0,0,0,0,0,1134.2
37,37,2018-10-12T19:25:36.5730000,859696871,0,1,p9,42,0,0,0,0,0,0,0,1165.1
38,38,2018-10-12T15:21:59.8500000,858911103,4,1,p9,525,0,0,0,0,1,0,1,1267.7
39,39,2018-10-12T15:03:57.3400000,858857854,0,1,p9,255,0,0,0,0,0,0,0,1181.8
40,40,2018-10-12T15:00:55.7330000,858848886,10,2,p9,1166,1,0,0,0,1,0,1,1284.0
41,41,2018-10-12T03:03:52.4470000,857359711,0,2,p10,54,0,0,0,0,0,0,0,1089.6
42,42,2018-10-12T03:03:52.4470000,857359712,2,3,p2,251,0,0,0,0,0,0,0,1135.6
43,43,2018-10-12T00:18:28.9770000,856908476,5,2,p9,627,0,0,0,0,1,0,1,1266.7
44,44,2018-10-11T23:32:16.9870000,856772666,10,3,p9,529,0,0,0,0,1,0,1,1190.9
45,45,2018-10-11T22:54:42.0170000,856659926,3,1,p10,174,0,0,0,0,0,0,0,1095.4
46,46,2018-10-11T22:47:42.8970000,856639048,5,2,p2,511,0,1,0,1,0,0,0,1242.3
47,47,2018-10-11T22:47:42.8200000,856639046,5,6,p10,667,0,0,0,0,0,0,0,1094.6
48,48,2018-10-11T19:43:39.6770000,856035490,8,6,p9,786,0,0,0,0,0,0,1,1142.5
49,49,2018-10-11T19:43:39.6770000,856035491,14,7,p2,882,0,1,0,1,0,0,0,1166.0

In [35]:
query = "Select sum(kills) kills, sum(matches) matches, ((sum(kills)/1.0)/sum(matches)) kpm, dateCollected date from 'Jumb Player Data' group by 4 order by date "

player2 = pd.read_sql(query, conn) #conn is using sqlite to pass the query through

In [27]:
#returns the first value from the date column
player['date'][0]

'2018-10-11T19:43:39.6770000'

In [30]:
#converts a string into a datetime
player['date'] = pd.to_datetime(player['date'])

In [40]:
#converts a string into a datetime
games['dateCollected'] = pd.to_datetime(games['dateCollected'])

In [46]:
if 1000 in player2.kills:
    print(True)
else:
    print(False)
#Create the conenction    
# conn = sqlite.connect('database.db', conn)
# Establish a cursor- which lets you parse the SQL line by line
# c = conn.cursor()

# sudo code:
    if id in table:
        c.execute("INSERT line into TABLE")

False

In [48]:
player - player2

ValueError: format number 1 of "b'2018-10-11T19:43:39.6770000'" is not recognized

In [43]:
print(games['dateCollected'][0].date)

<built-in method date of Timestamp object at 0x113630348>